.block {
  display: block;
  background-color: #fff;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 6px 20px 7px rgba(12, 55, 128, 0.22);
  }

  &_scale {
    position: absolute;
    z-index: 0;
    top: - torem(25);
    left: 0;
    height: calc(100% + 7em);
    width: 100%;
    box-shadow: 0 6px 20px 7px rgba(12, 55, 128, 0.22);
    display: none;
    align-items: flex-end;
    padding-bottom: torem(40);
    transform: scale(1.1);
    @media (max-width: 1200px) {
      transform: scale(1.05);
    }
    @media (max-width: 992px) {
      transform: scale(1.02);
    }
  }

  &_with-paddings {

  }
}