.button {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-family: "BebasNeueBold", sans-serif;
  font-size: torem(18);
  letter-spacing: 1.5px;
  color: white;
  cursor: pointer;
  width: torem(222);
  height: torem(44);
  transition: 0.5s;
  background: $blue;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    width: 25px;
    height: 100px;
    /*
    margin-left: -120px;
    */
    background: #fff;
    position: absolute;
    left: -25px;
    top: -20px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: blick;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-fill-mode: none;
    /*
    animation-delay: 0.05s;
    */
  }
  &_header {
    margin-left: torem(60);
    @media (max-width: 850px) {
      margin-left: torem(30);
    }
  }
  &:hover {
    color: $blue;
    background-color: white;
    transition: 0.5s;
  }
}

