.title {
  font-family: "ReformaGroteskBold", sans-serif;
  text-transform: capitalize;
  text-align: center;
  &_h2 {
    font-size: torem(48);
    line-height: torem(48);
    letter-spacing: 2px;
  }
}