.title {
  font-family: "ReformaGroteskBold", sans-serif;
  text-align: center;
  &_h2 {
    font-size: torem(48);
    line-height: torem(48);
    letter-spacing: 2px;
    margin-bottom: torem(60);
  }
  &_h3 {
    font-size: torem(32);
    line-height: 1;
    letter-spacing: 2px;
    margin-bottom: torem(35);
    @media (max-width: 992px) {
      margin-bottom: torem(20);

    }

  }
}