@font-face {
  font-family: "ReformaGroteskBold";
  src: url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.otf") format("opentype"), /* Open Type Font */
  url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.svg") format("svg"), /* Legacy iOS */
  url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.woff") format("woff"), /* Modern Browsers */
  url("../fonts/ReformaGroteskBold/ReformaGroteskBoldC.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/bebas-regular/BebasNeueRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/bebas-regular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/bebas-regular/BebasNeueRegular.otf") format("opentype"), /* Open Type Font */
  url("../fonts/bebas-regular/BebasNeueRegular.svg") format("svg"), /* Legacy iOS */
  url("../fonts/bebas-regular/BebasNeueRegular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/bebas-regular/BebasNeueRegular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/bebas-regular/BebasNeueRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBook";
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/BebasNeueBook/BebasNeueBook.otf") format("opentype"), /* Open Type Font */
  url("../fonts/BebasNeueBook/BebasNeueBook.svg") format("svg"), /* Legacy iOS */
  url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), /* Modern Browsers */
  url("../fonts/BebasNeueBook/BebasNeueBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/BebasNeueBold/BebasNeueBold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/BebasNeueBold/BebasNeueBold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/BebasNeueBold/BebasNeueBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}