@keyframes blick {
  0% {
    left: -80px;
    margin-left: 0;
  }
  10% {
    left: 110%;
    margin-left: 130px;
  }
  100% {
    left: 110%;
    margin-left: 130px;
  }
}

@keyframes shiver {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);

  }
  100% {
    transform: rotate(15deg);
  }
}