@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "my-reset";
@import "fonts";
@import "variables";
@import "functions";
@import "keyframes";

.container {
  max-width: 1170px;
}
html {
  font-size: 100%;
  @media (max-width: 1050px) {
    font-size: 90%;

  }
  @media (max-width: 950px) {
    font-size: 80%;

  }
  @media (max-width: 576px) {
    font-size: 70%;

  }
}

/*blocks*/
@import "header";
@import "body";
@import "link";
@import "phone";
@import "mobile";
@import "news";
@import "title";
@import "assortment";
@import "card-category";
@import "block";
@import "btn";
@import "main-content";
@import "fixed-header";
@import "logo";
@import "icon-phone";
@import "menu";
@import "partners";

