html, body {
  overscroll-behavior: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  outline: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.dn {
  display: none !important;
}

.db {
  display: block;
}

.df {
  display: flex;
}
.container-my {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

button,
button:active,
button:focus {
  outline: none;
}

// for bootstrap
.container:before,
.container:after,
.row:before,
.row:after {
  content: normal;
}

